/* use of variable for colors in css afin de ne pas réutiliser tous le temps la valeur*/
:root {
    /* always with "--nom-nom2" */
    --color-accent: #5eead4;
    --background-accent:0f172a;
    --color-highlight: #e2e8f0;
    --color-hyperliquidtheme: rgb(80, 210, 193);
}

html {
    /* met le scroll en smooth */
    scroll-behavior: smooth;
}

/* star is used for ALL TAGS */
* {
    /* ➡️ La taille totale reste 200px
       ➡️ Le padding et la bordure sont inclus dans les 200px */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* premier est le style que l'on veut et le second le style en backup */
    font-family: 'Space Grotesk', sans-serif;
    border: 1px solid white;
}

body {
    background: #0f172a;
    color: #94a3b8;
}

header,
main,
footer {
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Crée de l'espace entre les éléments */
    gap: 1rem;
    /* max idth of header container */
    max-width: 100%;
    padding: 1rem;
}

.tab-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.tab-nav p {
    margin: 0; /* Enlève les marges par défaut du <p> */
}


.social-link-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* classe créée pour mettre des mots en coloré */
.anchor-text {
    color: var(--color-highlight);
    text-decoration: none;

    /* rajoute un temps de 200ms avant que le texte se colore */
    transition-duration: 200ms;
}


/*  selectionne directement les h2 de "section" */
section h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px;
}

.graphic-container {
    max-width: 200px;
    margin: 1rem auto; /* centre horizontalement le conteneur */
    overflow: hidden;
    aspect-ratio: 16 / 9;
    display: grid;
    place-items: center;

    width: 100%; /* S'assure que le conteneur prend toute la largeur disponible */
    height: auto;           /* Laissez la hauteur s'ajuster à l'aspect-ratio */
}

.graphic-container img {
    /* Sert à s'assurer que l'image couvre toujours le container */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Conteneur du menu */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Bouton visible */
.dropbtn {
    background-color: var(--background-accent);
    color: #94a3b8;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 10;
}

/* Liens du menu */
.dropdown-content a {
    color: #94a3b8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    display: flex;
}

.dropdown:hover .dropdown-content {
    display: block;
}