:root {
    --color-accent: #5eead4;
    --background-accent: rgba(45, 212, 191, .1);
    --color-highlight: #e2e8f0;
}

html {
    /* sert à ajouter un scrollage */
    scroll-behavior: smooth;
}

/* l'astérisque sert pour tout le monde */
* {
    /* box-sizing sert à créer quelle type de box on veut */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

body {
    background-color: #0f172a;
    color: #94a3b8;
    font-size: 0.9rem;


    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-height: 200vh;

    /* margin = espace extérieur autour d'un élément */
    margin: 2rem; 

    /* padding = espace intérieur entre le contenu d'un élément et ses bordures */
    padding: 0;

    /* On met du gap dans le body pour pas que l'affichage ne soit trop large
    et trop haut. 
    Rappel "gap: 10px 30px;" avec 10px entre les lignes, 30px entre les colonnes */
    gap: 4rem 2rem;


}

header{
    margin: 2rem 0rem 0rem 0rem;
    padding: 1.6rem 0rem 1rem 0rem; 
    font-size: 1rem;
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    gap: 0.01rem;
}


main{
    max-width: 1024px;
    font-size: 1rem;
    line-height: 1.4rem;
    height: auto;
    
}

footer {
    max-width: 500px;
}

h5{
    font-size: 0.9rem;
    font-weight: normal;
    opacity: 0.5 ;
    padding: 0.7rem 0rem 0.7rem 0rem;
}

p {
    line-height: 1.4rem;   /* within paragraph */
    margin-bottom: 1.2rem; /* between paragraphs */
    }


.socialmedia-container{
    margin-bottom: 2rem;
    display: flex;
    /* espace entre les logos de réseaux sociaux */
    gap: 1rem; 
    font-size: 1.2rem;
}

.arrowtop{
    padding: 1rem;
    margin-bottom: 2rem;
}

.top-arrow-icon{
    font-size: 1rem;
    /*  enlargissement de la boite de l'icone */
    width: 35px;
    /* sert à avoir une largeur egale a la hauteur */
    aspect-ratio: 1 / 1;
    background-color: #095447;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

.top-arrow-icon i {
    color: #5eead4;; /* Change la couleur de la flèche via le "i" */
}

.top-arrow-icon:hover {
    filter: brightness(0.8); /* Assombrit l'élément à 80% */
}

.text-link{
    color: white;
    text-decoration: none;
}

.logo{
    color: #94a3b8;
}

.logo:hover{
    color: white;
}

.sub-title{
    color: white;

    /* pour enlever le gras du texte */
    font-weight: normal;
}

.title-section{
    color: white;
    font-size: 1rem;
    /* pour enlever le gras du texte */
    font-weight: 500;
    margin: 1rem 0rem 1.5rem 0rem;
    padding: 1rem 0rem 0.1rem 0rem;


    /* Sert à mettre le titre qui reste en gaut lorsque l'on scroll */
    position: sticky;
    /* S'assure qu'il reste au plus haut */
    top: 0;
    /* Superpose selon l'axe z */
    z-index: 10;
    /* Ajoute de la transparence à la box du titre de section */
    background: rgba(15, 23, 42, 0.7);
}

.about-container{
    font-size: 1.1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}


.index-title{
    display: none;
}

.first-child{
    max-width: 40%;
}



.project-title{
    text-decoration: underline;
    text-decoration-color: blue;
}

.project-title:hover,
.intext-link:hover {
    color:#5eead4;
}

.all-project-container{
    /* permet d'avoir le container qui occupe l'espace de son contenu en gardant la possiblité de créer un gap 
    lorsque l'on passe la souris par dessus. Avec "inline-block" on ne peut pas avoir de gap car gap ne fonctionne 
    que sur flex et grid. */
    display: inline-flex;
    gap: 0.5rem; /* Espacement par défaut */
    border-bottom: 2px solid transparent; /* Soulignement invisible au repos */
    transition: gap 0.3s ease, border-bottom 0.3s ease;
}

.all-project-container:hover{
    gap: 1rem;
    border-bottom: 2px solid #5eead4;
}

.tag-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

/* Enlève le margin par défaut */
.tag p{
    margin:0;
}

/*  */
.tag{
    /* Sert à avoir le container du texte qui matche la taille du texte */
    display: inline-block;
    background: #08453b;
    color: #5eead4;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    
}

@media(min-width:640px){

    /* Ré-arrangement des boxs d'expérience et de projet en écran large */
    .experience-container{
        display: flex;
        gap: 10px; /* Espace entre les colonnes */
    }

    .first-child{
        grid-column: 1;
        min-width: 20%; /* Ajuste selon ton besoin */
        max-width: 20%;
    }

    .experience-container div:second-child {
        grid-column: 1;
    }

}



@media(min-width:1024px){
    body{
    margin: 2rem 6rem 0rem 6rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 colonnes flexibles */
    }
    
    header{
        /*  S'assure que le container header occupe au moins 90vh de la verticalité de l'écran */
        height: 90vh;
        display: flex;
        flex-direction: column;
        position: sticky;
        justify-content: space-between;
        top: 0;
    }

    main{
        margin-top: 3.6rem;
    }

    h1{
        font-size: 3rem;
    }

    h4{
        font-size: 1.5rem;
    }

    /* Mise en place de la flêche en bas à droite de l'écran */
    .arrowtop{
        display: flex;
        align-items: end;
        padding-left: 80%;
    }

    /* On afficge les index en écran large */
    .index-title{
        display: contents;
    }
    
    /* Mais on cache les titre des sections en écran large */
    .title-section{
        display: none;
    }


    
    .socialmedia-container{
        /* S'assure que le container soit en bas de son container parent */
        vertical-align: bottom;
        font-size: 2rem;
        min-height: 40%;
    }


}