:root {
    --color-accent: #5eead4;
    --background-accent: rgba(45, 212, 191, .1);
    --color-highlight: #e2e8f0;
}

html {
    /* sert à ajouter un scrollage */
    scroll-behavior: smooth;
}

/* l'astérisque sert pour tout le monde */
* {
    /* box-sizing sert à créer quelle type de box on veut */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

body {
    background-color: #0f172a;
    color: #94a3b8;
    font-size: 0.9rem;


    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-height: 100vh;

    /* margin = espace extérieur autour d'un élément */
    margin: 1rem; 

    /* padding = espace intérieur entre le contenu d'un élément et ses bordures */
    padding: 0;

    /* On met du gap dans le body pour pas que l'affichage ne soit trop large
    et trop haut. 
    Rappel "gap: 10px 30px;" avec 10px entre les lignes, 30px entre les colonnes */
    gap: 4rem 2rem;


}

header{
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem; 
    font-size: 1rem;
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    gap: 1.1rem;
}


main{
    max-width: 1024px;
    /* Supprimer les marges et paddings par défaut */
    margin: 1rem; 
    padding: 1rem; 
    
}

footer {
    max-width: 500px;
    padding: 1rem;
}

.socialmedia-container{
    margin: 0;
    padding:0;
    display: flex;
    gap: 1rem;
}

.arrowtop{
    max-width: 500px;
    padding: 1rem;
}

.text-link{
    color: white;
    text-decoration: none;
}

.sub-title{
    color: white;

    /* pour enlever le gras du texte */
    font-weight: normal;
}

.title-section{
    color: white;
    font-size: 1rem;
}

.index-title{
    display: none;
}



@media(min-width:1024px){
    body{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 colonnes flexibles */
    }
    header{
        position: sticky;
    }
    .arrowtop{
        display: flex;
        align-items: end;
        padding-left: 80%;
    }
    .index-title{
        display: contents;
    }
    

    .socialmedia-container{
        margin-top: 100%;
        font-size: 2rem;
    }
}